$emperor: #505050;
$cod-gray: #121212;
$black: #000;
$white: #fff;
$congress-blue: #025293;
$mantis: #71bd55;
$cerulian: #01b5e2;
$galery: #eee;
$viking: #5bc0de;
$coral: coral;
$mine_shift: #2c2b2b;
$mine-shift-light:#313131;
$ebb: #e4dede;
$boulder:#807b7b;
$ripe-lemon: #f5c518;
$gold-tips: #ddb216;
$cerulean: #02b4e4;
$hippie-blue: #619cb8;
$abbey: #454749;
$loblolly: #bcc3ce;
$trinidad: #e85600;
$blue-whale: #032541;
$polo-blue: #96bbd4;
$seashell: seashell;
$silver: #ccc;
$denim: #136cb2;
$deluge:#70579d;
$alto: #ddd;
$rose-bud: #faabab;
$nevada: #646566;
$cape-cod: #3c3e3f;
$gold-tips: #ddb216;
